<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-archive"></i> Parcel
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i> Update Parcel</h3>
          </div>
          <div class="panel-body">

            <div class="container">
              <%= form_for(@parcel, url: parcel_path(@parcel), html: { id: "parcel-update-form" }) do |f| %>
              <form>
                <% if admin_user||staff_user%>
                <% else %>
                <div class="form-group">
                  <label for="AWB">Air Way Bill (AWB):</label>
                  <%= f.text_field :new_awb, id: "type_field", class: 'form-control', placeholder:"AWB", type:"text" %>
                </div>
                <% end %>
                <% if admin_user||staff_user%>
                <div class="form-group">
                  <label for="pwd">Weight:</label>
                  <%= f.text_field :weight, id: "type_field", class: 'form-control', placeholder:"Weight(kg)", type:"text" %>
                </div>
                <div class="form-group">
                  <label for="pwd">Width:</label>
                  <%= f.text_field :width, id: "type_field", class: 'form-control', placeholder:"Width (cm)", type:"text" %>
                </div>
                <div class="form-group">
                  <label for="pwd">Length:</label>
                  <%= f.text_field :length, id: "type_field", class: 'form-control', placeholder:"Length (cm)", type:"text" %>
                </div>
                <div class="form-group">
                  <label for="pwd">Height:</label>
                  <%= f.text_field :height, id: "type_field", class: 'form-control', placeholder:"Height (cm)", type:"text" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 1" %>
                  <%= f.file_field :image1, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 2" %>
                  <%= f.file_field :image2, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 3" %>
                  <%= f.file_field :image3, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 4" %>
                  <%= f.file_field :image4, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 5" %>
                  <%= f.file_field :image5, class:"form-control" %>
                </div>
                <% else %>
                <% end %>

                <%= f.submit "Update Parcel", class: "btn btn-success btn-lg", type:"submit" %>
                <%= link_to 'Back', parcels_path, class:"btn btn-link" %>

              </form>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
