<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-archive"></i> Parcel
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i> Update Parcel</h3>
          </div>
          <div class="panel-body">

            <% if (@parcel.status == "Arrived"|| @parcel.status == "Waiting" || @parcel.status == "Ready To Ship") && admin_user||staff_user %>
            <div class="container">
              <%= form_for(@parcel, url: parcel_path(@parcel), html: { id: "parcel-update-form" }) do |f| %>
              <form>
                <div class="form-group">
                  <label for="pwd">Weight:</label>
                  <%= f.text_field :weight, id: "type_field", class: 'form-control', placeholder:"Weight(kg)", type:"text", required: true %>
                </div>
                <div class="form-group">
                  <label for="pwd">Width:</label>
                  <%= f.text_field :width, id: "type_field", class: 'form-control', placeholder:"Width (cm)", type:"text", required: true %>
                </div>
                <div class="form-group">
                  <label for="pwd">Length:</label>
                  <%= f.text_field :length, id: "type_field", class: 'form-control', placeholder:"Length (cm)", type:"text", required: true %>
                </div>
                <div class="form-group">
                  <label for="pwd">Height:</label>
                  <%= f.text_field :height, id: "type_field", class: 'form-control', placeholder:"Height (cm)", type:"text", required: true %>
                </div>
                <% if @parcel.photoshoot? %>
                <div class="form-group">
                  <%= f.label :"Upload Image 1" %>
                  <%= f.file_field :image1, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 2" %>
                  <%= f.file_field :image2, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 3" %>
                  <%= f.file_field :image3, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 4" %>
                  <%= f.file_field :image4, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"Upload Image 5" %>
                  <%= f.file_field :image5, class:"form-control" %>
                </div>
                <% end %>
                <div class="text-center">
                <%= f.submit "Submit", class: "btn btn-success btn-lg", type:"submit" %>
                <%= link_to 'Back', parcels_path, class:"btn btn-link" %>
                </div>
              </form>
              <% end %>
            </div>
            <%elsif @parcel.status == "Request Refund" || @parcel.status == "Refunding" %>
            <div class="container">
              <%= form_for(@parcel, url: update_refund_parcel_path(@parcel), html: { id: "parcel-update-form" }) do |f| %>
            <div class="form-group">
              <label for="type">Refund Status</label>
              <%= f.select :status, [ 'Refunding', 'Refunded'],{ :include_blank => '-- Select Refund Status --' }, class:"form-control" %>
            </div>
            <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-success btn-lg", type:"submit" %>
            <%= link_to 'Back', parcels_path, class:"btn btn-link" %>
            <% end %>
            </div>
            </div>
            <% else %>
            Nothing to Update
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
