<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-archive"></i> Parcel
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i> My Parcel (EZI ID: <%=@parcel.user.ezi_id%>)</h3>
          </div>
          <div class="panel-body">


            <table class="table">
              <tbody>
                <tr>
                  <th>AWB No.</th>
                  <td>
                    <% if @parcel.new_awb?%>
                    <%= @parcel.new_awb%>
                    <% else %>
                    <%=@parcel.awb%>
                    <% end%>
                    <% if @parcel.status == "Waiting"%>
                      <%= link_to "", edit_awb_parcel_path(@parcel), class:"fa fa-pencil" %>
                      <%else%>
                      <%end%>
                  </td>
                </tr>
                <tr>
                  <th>Product Description</th>
                  <td><%=@parcel.description%></td>
                </tr>
                <tr>
                  <th>Quantity</th>
                  <td><%=@parcel.product_quantity%></td>
                </tr>
                <tr>
                  <th>Price Per Unit</th>
                  <td>RMB <%=@parcel.price_per_unit%> /unit</td>
                </tr>
                <tr>
                  <th>Total Price</th>
                  <td>RMB <%=@parcel.product_total_price%></td>
                </tr>
                <tr>
                  <th>Product Name (Chinese)</th>
                  <td><%=@parcel.product_chinese%></td>
                </tr>
                <tr>
                  <th>Type of Parcel</th>
                  <td><%=@parcel.parcel_good%></td>
                </tr>
                <tr>
                  <th>Remarks User</th>
                  <td><%=@parcel.remark%></td>
                </tr>
                <tr>
                  <th>Remarks Admin</th>
                  <td><%=@parcel.remark_admin%></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td><%=@parcel.status%></td>
                </tr>
                <tr>
                  <th>Free Storage Days Left</th>
                  <td>
                    <% if @parcel.free_storage.nil? %>
                    No data
                    <% else %>
                    <% if Time.now >= @parcel.free_storage %>
                    0 day
                    <% elsif Time.now < @parcel.free_storage && Time.now > @parcel.free_storage - 1.days %>
                    1 day
                    <% elsif Time.now < @parcel.free_storage - 1.days && Time.now > @parcel.free_storage - 2.days %>
                    2 days
                    <% elsif Time.now < @parcel.free_storage - 2.days && Time.now > @parcel.free_storage - 3.days %>
                    3 days
                    <% elsif Time.now < @parcel.free_storage - 3.days && Time.now > @parcel.free_storage - 4.days %>
                    4 days
                    <% elsif Time.now < @parcel.free_storage - 4.days && Time.now > @parcel.free_storage - 5.days %>
                    5 days
                    <% elsif Time.now < @parcel.free_storage - 5.days && Time.now > @parcel.free_storage - 6.days %>
                    6 days
                    <% elsif Time.now < @parcel.free_storage - 6.days && Time.now > @parcel.free_storage - 7.days %>
                    7 days
                    <% elsif Time.now < @parcel.free_storage - 7.days && Time.now > @parcel.free_storage - 8.days %>
                    8 days
                    <% elsif Time.now < @parcel.free_storage - 8.days && Time.now > @parcel.free_storage - 9.days %>
                    9 days
                    <% elsif Time.now < @parcel.free_storage - 9.days && Time.now > @parcel.free_storage - 10.days %>
                    10 days
                    <% elsif Time.now < @parcel.free_storage - 10.days && Time.now > @parcel.free_storage - 11.days %>
                    11 days
                    <% elsif Time.now < @parcel.free_storage - 11.days && Time.now > @parcel.free_storage - 12.days %>
                    12 days
                    <% elsif Time.now < @parcel.free_storage - 12.days && Time.now > @parcel.free_storage - 13.days %>
                    13 days
                    <% elsif Time.now < @parcel.free_storage - 13.days && Time.now > @parcel.free_storage - 14.days %>
                    14 days
                    <% elsif Time.now < @parcel.free_storage - 14.days || Time.now > @parcel.free_storage - 15.days %>
                    15 days
                    <% else %>
                    <% end %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Extra Service</th>
                  <td>
                    <%if @parcel.photoshoot? || @parcel.inspection? %>
                  <% if @parcel.photoshoot == true%>| Photoshoot | <% else;end%>
                  <% if @parcel.inspection == true%>| Inspection | <% else;end%>
                  <% else %>
                  None
                  <%end%>
                  </td>
                </tr>
                <tr>
                  <th>Weight</th>
                  <td>
                    <% if @parcel.weight == 0.5 %>
                    <%=@parcel.weight%> kg (minimal weight)
                    <%else%>
                    <%=@parcel.weight%> kg
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th>Volume Metric</th>
                  <td>
                    <% if @parcel.volume? %>
                    <%=@parcel.volume%> kg (<%=@parcel.width%> cm X <%=@parcel.length%> cm X <%=@parcel.height%> cm)
                    <% else %>
                    Not Yet Available
                    <% end%>
                  </td>
                </tr>

              </tbody>
            </table>
            <%= link_to 'Back', parcels_path, class:"btn btn-link" %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i> My Product Image</h3>
              </div>
              <div class="panel-body">
                  <div class="table-responsive">
                    <div class="list-group">
                        <div class="text-center">  <%=image_tag @parcel.image, class:"image-size"%></div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i>Received Parcel Image</h3>
              </div>
              <div class="panel-body">
                <%if @parcel.image1? || @parcel.image2? || @parcel.image3? || @parcel.image4? || @parcel.image5? %>
                  <div class="table-responsive">
                    <div class="list-group text-center">
                        <li class="list-group-item">
                          <a><%= image_tag @parcel.image1, class: "image-size-thumb"%></a>&nbsp;
                          <a><%= image_tag @parcel.image2, class: "image-size-thumb"%></a>&nbsp;
                          <a><%= image_tag @parcel.image3, class: "image-size-thumb"%></a>&nbsp;
                          <a><%= image_tag @parcel.image4, class: "image-size-thumb"%></a>&nbsp;
                          <a><%= image_tag @parcel.image5, class: "image-size-thumb"%></a>&nbsp;
                          <div class="text-right">
                            <br>
                            <a href="<%=show_image_parcel_path%>">View Full Size Image <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </li>
                    </div>
                  </div>
                  <%if @parcel.status == "Arrived"%>
                  <div class="text-right">
                      <a href="<%=request_refund_parcel_path%>">Not Your Ordered Product? Apply for Refund! <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                  <%else%>
                  <%end%>
                  <%else%>
                  No Image Available Yet For Received Parcel
                  <%end%>

              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
