<div id="header">
  <%= render partial: 'partials/header' %>
</div>

<div class="container">
  <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Upload Identity Card / Passport</div>
      </div>
      <div class="panel-body">
        <%= form_for(@user,url: {action: "update"}, method: :patch, html: {multipart: true}) do |f| %>
        <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %>
            prohibited this photo from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <p>
          <%= f.label "upload here" %><br/>
        </p>
        <p>
          <%= f.file_field :icpassport, accept:"image/png,image/jpeg,image/jpg" %>
        </p>

        <div class="actions">
          <%= f.submit %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div><img src="<%= @icurl %>"></div>
</div>
