<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-archive"></i> Users
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i>Search User</h3>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <%= form_tag(users_path, method: "get", id: "search-form") do %>
                  <div class="col-lg-6"><%= text_field_tag :search, params[:search], class: "form-control text", placeholder:"Q0001" %></div>
                  <div class="col-lg-2"><%= submit_tag "Search", :name => nil, class:"btn btn-success btn-sm"%></div>
                  <%end%>
                  <div class="text-right">
                    <a href="<%=users_path%>">View All</a>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
          </div>
        </div>
        <div class = "col-lg-4">
          <div class="dropdown pull-left">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By Status
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <a href="/users">
                    <i class="icon_set_1_icon-11"></i>All
                  </a>
                </li>
                <li>
                  <a href="/users?status=Inactive" <%if @filter_params == "Inactive" %>id="active" <% end %> >
                    <i class="icon_set_1_icon-11"></i>Inactive
                  </a>
                </li>
                <li>
                  <a href="/users?status=Active" <%if @filter_params == "Active" %>id="active" <% end %> >
                    <i class="icon_set_1_icon-11"></i>Active
                  </a>
                </li>
                <li>
                  <a href="/users?status=Suspended" <%if @filter_params == "Suspended" %>id="active" <% end %> >
                    <i class="icon_set_1_icon-11"></i>Suspended
                  </a>
                </li>
                <li>
                  <a href="/users?status=Blocked" <%if @filter_params == "Blocked" %>id="active" <% end %> >
                    <i class="icon_set_1_icon-11"></i>Blocked
                  </a>
                </li>
                <li>
                  <a href="/users?status=Expired" <%if @filter_params == "Expired" %>id="active" <% end %> >
                    <i class="icon_set_1_icon-11"></i>Expired
                  </a>
                </li>
              </ul>
            </div>
        </div>

      </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i> All Users</h3>
          </div>
          <div class="panel-body">
            <div class = "parcels">
              <% if @users.empty? %>
              <h3 class="text-center">No users available or match the User ID: <%= params[:search] %>.</h3>

              <%else%>

              <div>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>User ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Date Joined</th>
                      <th>Expiry Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </th
                  <tbody>
                    <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
                      <% x = 0 %>
                    <% else %>
                      <% page = params[:page].to_i - 1 %>
                      <% x = page * 10 %>
                    <% end %>
                    <%@users.each_with_index do |user, index|%>
                    <tr>
                      <td><%= index + x + 1 %></td>
                      <td><%= user.ezi_id%></td>
                      <td><%= user.name%> </td>
                      <td><%= user.email%> </td>
                      <td><%= user.updated_at.strftime("%d-%m-%Y")%></td>
                      <% if user.expiry.nil? %>
                      <td>N/A</td>
                      <% else %>
                      <td><%= user.expiry.strftime("%d-%m-%Y")%></td>
                      <% end %>
                      <td><%= user.status%></td>
                      <td><span><%= link_to "", edit_user_path(user), class:"fa fa-pencil" %></span>&nbsp;&nbsp;
                      <span><%= link_to "", user_path(user), class:"fa fa-eye" %></span>&nbsp;&nbsp;
                      <span><%= link_to "", edit_id_user_path(user), class:"fa fa-id-card" %></span>&nbsp;&nbsp;
                      <span><%= link_to "", activate_user_path(user), class:"fa fa-unlock", data: { confirm: "Are you sure you want to activate this user?"}, method: :post %></span>&nbsp;&nbsp;
                      <span><a onclick="userSuspend('<%= user.id %>', '<%= user.ezi_id %>', '<%= user.name %>')" class="fa fa-lock cursor-pointer" rel="nofollow"></a></span>&nbsp;&nbsp;
                      <span><%= link_to "", block_user_path(user), class:"fa fa-ban", data: { confirm: "Are you sure you want to block this user?"}, method: :post %></span>&nbsp;&nbsp;
                    </td>
                      <%end%>
                      <%end%>
                    </tr>

                  </tbody>
                </table>
                <nav>
                  <%= paginate @users %>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function(){
  $('.cursor-pointer').css('cursor', 'pointer');
});

  function userSuspend(userid, eziId, name){

      swal({
      title: 'User Suspension (Ezicargo ID:'+ eziId +')',
      text: 'Name: '+ name,
      input: 'select',
      inputOptions: {
        '<%= 1*60*60 %>': '1 hour',
        '<%= 2*60*60 %>': '2 hours',
        '<%= 3*60*60 %>': '3 hours'
      },
      inputPlaceholder: 'Select hour to suspend',
      showCancelButton: true,
      showLoaderOnConfirm: true,
      preConfirm: function (value) {
        return new Promise(function (resolve, reject) {
          if (value === '<%= 1*60*60 %>' || value === '<%= 2*60*60 %>' || value === '<%= 3*60*60 %>') {
            $.post("/users/"+ userid +"/suspend", {duration: value})
            .done(function (result){
              swal({
                title: 'User Suspension',
                type: result.status,
                text: result.message,
                timer: 4000
              }).catch(swal.noop)
            })
          } else {
            reject('Select 1, 2 or 3 hour(s)')
          }
        })
      }
    }).catch(swal.noop)

  }
</script>
