<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-ship fa-fw"></i>Shipment Details (EZI ID: <%=@shipment.user.ezi_id%>)</h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Shipment ID</th>
                  <td><%=@shipment.id%></td>
                </tr>
                <tr>
                  <th>Type of Shipment</th>
                  <td><%=@shipment.shipment_type%></td>
                </tr>
                <tr>
                  <th>Final Weight (kg)</th>
                  <td>
                    <%=@shipment.final_kg%>
                  </td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td><%=@shipment.status%></td>
                </tr>
                <tr>
                  <th>Extra Service</th>
                  <td>
                    <%if @shipment.reorganize? || @shipment.repackaging? %>
                    <% if @shipment.reorganize == true%>| Reorganize | <% else;end%>
                    <% if @shipment.repackaging == true%>| Repackaging | <% else;end%>
                    <% if @shipment.parcels.where(photoshoot: true).size >= 1%>| Photoshoot (<%=@shipment.parcels.where(photoshoot: true).size%> parcels) | <% else; end%>
                    <% if @shipment.parcels.where(inspection: true).size >= 1%>| Inspection (<%=@shipment.parcels.where(inspection: true).size%> parcels) | <% else; end%>
                    <% else %>
                    None
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th>Type Of Freight</th>
                  <td>
                    <% if @shipment.sea_freight == true%>
                    Sea Freight
                    <%else%>
                    Air Freight
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th>Remark User</th>
                  <td><%=@shipment.remark%></td>
                </tr>
                <tr>
                  <th>Remark Admin</th>
                  <td><%=@shipment.remark_admin%></td>
                </tr>
                <% if @shipment.extra_remark %>
                  <tr>
                    <th>Extra Charge</th>
                    <td><%=@shipment.extra_remark%> (RM <%=(@shipment.extra_charge / @currency.myr2rmb).ceil(1)%>)</td>
                  </tr>
                <% end %>
                <tr>
                  <th>Total Price</th>
                  <td>RM <%=@shipment.charge%></td>
                </tr>
              </tbody>
            </table>
            <%if @shipment.bill_url? && @shipment.status != "Paid" %>
            <div class="button text-center">
              <%= link_to "Pay Now", @shipment.bill_url, class: "btn btn-success btn-lg" %>
            </div>
            <%elsif @shipment.status == "Paid"%>
            <div class="button text-center">
            <%= link_to "View Bill", @shipment.bill_url, class: "btn btn-success btn-lg" %>
            </div>
            <%else%>
            <%end%>
            <%= link_to 'Back', :back, class:"btn btn-link" %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-home fa-fw"></i> Shipping Address</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <div class="list-group">
                <b href="#" class="list-group-item">

                  <b>Name: </b>
                  <%=@shipment.user.name %>
                  <br>
                  <b>Address: </b>
                  <%=@shipment.user.address%>
                  <br>
                  <b>Postcode:</b>
                  <%=@shipment.user.postcode%>
                  <br>
                  <b>State: </b>
                  <%=@shipment.user.address2%>
                  <br>
                  <b>Phone No.:</b>
                  <%=@shipment.user.phone%>
                </b>
              </div>
            </div>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-home fa-fw"></i> Tracking Number</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <div class="list-group">
                <b href="#" class="list-group-item">
                  <%=@shipment.tracking %>
                </b>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-archive fa-fw"></i> Selected Parcel</h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered">

              <thead>
                <tr>
                  <th>AWB</th>
                  <th>Description</th>
                  <th>Chinese Description</th>
                  <th>Type</th>
                  <th>Remark</th>
                  <th>Final Weight(kg)</th>
                </tr>
              </thead>

              <tbody>
                <% @shipment.ordered_parcels.each do |ordered_parcel| %>
                <tr>
                  <td><%= ordered_parcel.parcel.awb%> </td>
                  <td><%= ordered_parcel.parcel.description%></td>
                  <td><%= ordered_parcel.parcel.product_chinese%></td>
                  <td><%= ordered_parcel.parcel.parcel_good%></td>
                  <td><%= ordered_parcel.parcel.remark%></td>
                  <td><%= ordered_parcel.parcel.final_kg%></td>
                </tr>
                <% end %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total: </td>
                  <td><%=@shipment.final_kg%></td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
