<div class="container banner">
  <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Manage Arrived Parcel
          </div>
          <div class="panel-body" style="padding-left:80px;padding-right:80px;">
          <%= form_for(@parcel , url: admin_parcel_path(@parcel), method: :patch, html: { multipart: true }) do |f| %>
            <div class="row">
              <div class="col-sm-12 add_bottom_30">
                <h4>Parcel Details</h4>
                <div class="row">
                  <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                      <label>Remarks</label>
                      <%= f.text_field :remark_admin, id: "type_field", class: 'form-control', placeholder:"Anything to note on this products", type:"text" %>
                    </div>
                  </div>
                </div>
                <hr>
                <h4>Parcel Dimension</h4>
                <div class="row">
                  <div class="form-group pull-in clearfix">
                    <div class="col-sm-3">
                      <label>Weight</label>
                      <%= f.text_field :weight, id: "type_field", class: 'form-control', placeholder:"(kg))", type:"text" %>
                    </div>
                    <div class="col-sm-3">
                      <label>Width</label>
                      <%= f.text_field :width, id: "type_field", class: 'form-control', placeholder:"(kg))", type:"text" %>
                    </div>
                    <div class="col-sm-3">
                      <label>Length</label>
                      <%= f.text_field :length, id: "type_field", class: 'form-control', placeholder:"(kg))", type:"text" %>
                    </div>
                    <div class="col-sm-3">
                      <label>Height</label>
                      <%= f.text_field :height, id: "type_field", class: 'form-control', placeholder:"(kg))", type:"text" %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-6 add_bottom_30">
                <h4>Parcel Type</h4>
                <div class="form-group">
                  <%= f.select :parcel_good, [ 'Normal', 'Sensitive battery', 'Sensitive cosmetic', 'Sensitive magnet', 'Sensitive branded'],{ :include_blank => '-- Select One --' }, class:"form-control", required: true %>
                </div>
              </div>
            </div>

            <% if @parcel.inspection? %>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-6 add_bottom_30">
                <h4>Parcel Inspection</h4>
                <div class="form-group">
                  <%= f.text_field :inspection_detail, id: "type_field", class: 'form-control', placeholder:"Inspection Details", type:"text", required: true %>
                </div>
              </div>
            </div>
            <% end %>

            <% if @parcel.photoshoot? %>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-6 add_bottom_30">
                <h4>Parcel Image</h4>
                <div class="form-group">
                  <label>(png/jpeg/jpg)</label>
                  <%= f.file_field :images, multiple: true, required: true, class: 'form-control' %>
                </div>
              </div>
            </div>
            <% end %>

            <div class="row">
              <div class="col-md-12 col-sm-12 add_bottom_30">
                <hr>
                <%= f.submit "Mark Arrive", class: "btn btn-normal btn-form"%>
              </div>
            </div><br>
          <% end %>
        </div>
      </div>
    </div>
</div>
