<div class="container banner">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            Change Address And Phone
          </div>
          <div class="panel-body">

            <div class="container">
              <%= form_for(@user, url: admin_user_path(@user), html: { id: "parcel-update-form" }) do |f| %>
              <form>
                <div class="form-group col-xs-10">
                  <label for="address">Address:</label>
                  <%= f.text_field :address, id: "type_field", class: 'form-control', type:"text", required: true %>
                </div>
                <div class="form-group col-xs-10">
                  <label for="address">City:</label>
                  <%= f.text_field :city, id: "type_field", class: 'form-control', type:"text", required: true %>
                </div>
                <div class="form-group col-xs-10">
                  <label for="type">State:</label>
                  <%= f.select :address2, [ 'Selangor', 'Kuala Lumpur', 'Kedah', 'P.Pinang', 'Perlis', 'Terengganu', 'Kelantan', 'Pahang', 'Johor', 'Perak', 'N.Sembilan', 'Melaka', 'Sabah', 'Sarawak', 'Putrajaya'],{ :include_blank => '-- Select One --' },
                   class:"form-control", required: true %>
                </div>
                <div class="form-group col-xs-10">
                  <label for="address">Postcode:</label>
                  <%= f.text_field :postcode, id: "type_field", class: 'form-control', type:"text", required: true %>
                </div>
                <div class="form-group col-xs-10">
                  <label for="phone">Mobile Phone:</label>
                  <%= f.text_field :phone, id: "type_field", class: 'form-control', type:"text", required: true %>
                </div>
                <div class="col-xs-10">
                  <%= f.submit "Update", class: "btn btn-success btn-form", type:"submit" %>
                </div>
              </form>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
