<div class="container banner">

  <div class="row">
    <div class="col-md-6">
      <%= form_tag(admin_users_path, method: "get", id: "search-form") do %>
      <div class="col-lg-6"><%= text_field_tag :search, params[:search], placeholder: "Search Ezi ID", class: "form-control text" %></div>
      <div class="col-lg-2"><%= submit_tag "Search", :name => nil, class:"btn btn-success btn-form"%></div>
      <%end%>
    </div>
  </div><br>

  <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            All Users
          </div>
          <div class="panel-body">
            <div class = "parcels">
              <% if @users.empty? %>
              <h3 class="text-center">No users available or match the User ID</h3>

              <%else%>

              <div style="overflow-x:auto;">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>User ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Date Joined</th>
                      <th>Expiry Date</th>
                      <th>
                        <div class="dropdown">
                          <button class="btn btn-small-dropdown dropdown-toggle" type="button" data-toggle="dropdown">Status
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/admin/users">
                                <i class="icon_set_1_icon-11"></i>All
                              </a>
                            </li>
                            <li>
                              <a href="/admin/users?status=Inactive" <%if @filter_params == "Inactive" %>id="active" <% end %> >
                                <i class="icon_set_1_icon-11"></i>Inactive
                              </a>
                            </li>
                            <li>
                              <a href="/admin/users?status=Active" <%if @filter_params == "Active" %>id="active" <% end %> >
                                <i class="icon_set_1_icon-11"></i>Active
                              </a>
                            </li>
                            <li>
                              <a href="/admin/users?status=Suspended" <%if @filter_params == "Suspended" %>id="active" <% end %> >
                                <i class="icon_set_1_icon-11"></i>Suspended
                              </a>
                            </li>
                            <li>
                              <a href="/admin/users?status=Blocked" <%if @filter_params == "Blocked" %>id="active" <% end %> >
                                <i class="icon_set_1_icon-11"></i>Blocked
                              </a>
                            </li>
                            <li>
                              <a href="/admin/users?status=Expired" <%if @filter_params == "Expired" %>id="active" <% end %> >
                                <i class="icon_set_1_icon-11"></i>Expired
                              </a>
                            </li>
                          </ul>
                        </div>
                      </th>
                      <th>Action</th>
                    </tr>
                  </thead>
                    <tbody>
                      <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
                      <% x = 0 %>
                      <% else %>
                      <% page = params[:page].to_i - 1 %>
                      <% x = page * 10 %>
                      <% end %>
                      <%@users.each_with_index do |user, index|%>
                      <tr>
                        <td><%= index + x + 1 %></td>
                        <td><%= user.ezi_id%></td>
                        <td><%= user.name%> </td>
                        <td><%= user.email%> </td>
                        <td><%= user.updated_at.strftime("%d-%m-%Y")%></td>
                        <% if user.expiry.nil? %>
                        <td>N/A</td>
                        <% else %>
                        <td><%= user.expiry.strftime("%d-%m-%Y")%></td>
                        <% end %>
                        <td><%= user.status%></td>
                        <td><span><%= link_to "", edit_admin_user_path(user), class:"fa fa-pencil tooltips", title: "edit" %></span>&nbsp;&nbsp;
                          <span><%= link_to "", admin_user_path(user), class:"fa fa-eye tooltips" , title: "view profile"%></span>&nbsp;&nbsp;
                          <span><%= link_to "", edit_id_admin_user_path(user), class:"fa fa-id-card tooltips", title: "<center>change Ezicargo ID</center>" %></span>&nbsp;&nbsp;
                          <span><%= link_to "", activate_user_path(user), class:"fa fa-unlock tooltips", data: { confirm: "Are you sure you want to activate this user?"}, method: :post, title: "activate" %></span>&nbsp;&nbsp;
                          <span><a onclick="userSuspend('<%= user.id %>', '<%= user.ezi_id %>', '<%= user.name %>')" class="fa fa-lock cursor-pointer tooltips" rel="nofollow" title="suspend"></a></span>&nbsp;&nbsp;
                          <span><%= link_to "", block_user_path(user), class:"fa fa-ban tooltips", data: { confirm: "Are you sure you want to block this user?"}, method: :post, title: "block" %></span>&nbsp;&nbsp;
                        </td>
                        <%end%>
                        <%end%>
                      </tr>

                    </tbody>
                  </table>
                  <nav>
                    <%= paginate @users %>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>



<script>
$(document).ready(function(){
  $('.cursor-pointer').css('cursor', 'pointer');

  new $.Zebra_Tooltips($('.tooltips'), {
    background_color: 'rgb(114, 180, 236)',
    max_width: 100
  });
});

  function userSuspend(userid, eziId, name){

      swal({
      title: 'User Suspension (Ezicargo ID:'+ eziId +')',
      text: 'Name: '+ name,
      input: 'select',
      inputOptions: {
        '<%= 1*60*60 %>': '1 hour',
        '<%= 2*60*60 %>': '2 hours',
        '<%= 3*60*60 %>': '3 hours'
      },
      inputPlaceholder: 'Select hour to suspend',
      showCancelButton: true,
      showLoaderOnConfirm: true,
      preConfirm: function (value) {
        return new Promise(function (resolve, reject) {
          if (value === '<%= 1*60*60 %>' || value === '<%= 2*60*60 %>' || value === '<%= 3*60*60 %>') {
            $.post("/users/"+ userid +"/suspend", {duration: value})
            .done(function (result){
              swal({
                title: 'User Suspension',
                type: result.status,
                text: result.message,
                timer: 4000
              }).catch(swal.noop)
            })
          } else {
            reject('Select 1, 2 or 3 hour(s)')
          }
        })
      }
    }).catch(swal.noop)

  }
</script>
