<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-ship"></i> Shipment
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-ship fa-fw"></i> Shipment Bill (EZI ID: <%=@shipment.user.ezi_id%>)</h3>
          </div>
          <div class="panel-body">
            <div class="section top-padding">
              <div class="container">
                <div>
                  <%= form_for(@shipment, url: add_charge_shipment_path(@shipment), html: { id: "calculate-form" }) do |f| %>
                  <div class="form-group">
                    <label> <%= f.label :type_field, "Repackaging" %> </label>
                    <%= f.check_box :repackaging, {}, "true", "false"%>
                    <label> <%= f.label :type_field, "Reorganize" %> </label>
                    <%= f.check_box :reorganize, {}, "true", "false"%>
                  </div>
                  <div class="form-group">
                    <label> <%= f.label :type_field, "Charges Details" %> </label>
                    <%= f.text_field :extra_remark, id: "type_field", class: 'form-control', type:"text", placeholder:"eg. Extra Box (quantity 1)"%>
                    <label> <%= f.label :type_field, "Add Charge (RMB)" %> </label>
                    <%= f.text_field :extra_charge, id: "type_field", class: 'form-control', type:"text", required: true %>
                    <label> <%= f.label :type_field, "Minus Charge (RMB)" %> </label>
                    <%= f.text_field :minus_charge, id: "type_field", class: 'form-control', type:"text", required: true %>
                    <label> <%= f.label :type_field, "Remark Admin" %> </label>
                    <%= f.text_field :remark_admin, id: "type_field", class: 'form-control', type:"text", placeholder:"Any notes for this shipment"%>
                  </div>
                  <%= f.submit "Add / Minus Charge", class: "btn btn-info", type:"submit" %>
                  <% end %>
                </div>
                <br>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <strong>Selected Parcels</strong>
                    </tr>
                    <tr>
                      <th>AWB No.</th>
                      <th>Remark Admin</th>
                      <th>Type</th>
                      <th>Final Weight/Volume (kg)</th>
                    </tr>
                  </thead>
                  <% @parcels.each do |parcel|%>
                  <tbody>
                    <tr>
                      <td><%= parcel.awb%></td>
                      <td><%= parcel.remark_admin%></td>
                      <td><%= parcel.parcel_good %></td>
                      <td><%= parcel.final_kg %></td>
                    </tr>
                    <%end%>
                    <tr>
                      <td colspan="3" align="right"><b>Total Kg</b></td>
                      <td> <span id="totalweight"><b><%=@parcels.sum(:final_kg)%></span> (kg)</b></td>
                    </tr>
                  </tbody>
                </table>
                <%= form_for @shipment do |f| %>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <strong>Added Services</strong>
                    </tr>
                    <tr>
                      <th><b>Select</b></th>
                      <th><b>Service</b></th>
                      <th><b>Description</b></th>
                      <th><b>Charge (RMB)</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @shipment.reorganize == true%>
                    <td><span class="text-center fa fa-check"></span></td>
                    <% else %>
                    <td></td>
                    <% end %>
                    <td>Reorganize</td>
                    <td>Please reorganize my parcel for shipment (<%=@shipment.parcels.size%> parcels)</td>
                    <td>
                      <% if @shipment.reorganize == true%>
                      <%=@shipment.parcels.size * 2%>
                      <% else %>
                      0
                      <% end%>
                    </td>
                  </tbody>
                  <tbody>
                    <% if @shipment.repackaging == true%>
                    <td><span class="text-center fa fa-check"></span></td>
                    <% else %>
                    <td></td>
                    <% end %>
                    <td>Repackaging</td>
                    <td>Please repackaging my parcel for shipment</td>
                    <td>
                      <% if @shipment.repackaging == true%>
                      10
                      <% else %>
                      0
                      <% end%>
                    </td>
                  </tbody>
                  <tbody>
                    <% if @shipment.parcels.where(photoshoot: true).size >= 1%>
                    <td><span class="text-center fa fa-check"></span></td>
                    <% else %>
                    <td></td>
                    <% end %>
                    <td>Photoshoot</td>
                    <td>Please snap picture for me when my parcel arrive (<%=@shipment.parcels.where(photoshoot: true).size%> parcels)</td>
                    <td>
                      <% if @shipment.parcels.where(photoshoot: true).size >= 1%>
                      <%=@shipment.parcels.where(photoshoot: true).size * 10%>
                      <% else %>
                      0
                      <% end %>
                    </td>
                  </tbody>
                  <tbody>
                    <% if @shipment.parcels.where(inspection: true).size >= 1%>
                    <td><span class="text-center fa fa-check"></span></td>
                    <% else %>
                    <td></td>
                    <% end %>
                    <td>Inspection</td>
                    <td>Please inspect my goods quantity when my parcel arrive (<%=@shipment.parcels.where(inspection: true).size%> parcels)</td>
                    <td>
                      <% if @shipment.parcels.where(inspection: true).size >= 1%>
                      <%=@shipment.parcels.where(inspection: true).size * 30%>
                      <% else %>
                      0
                      <% end %>
                    </td>
                  </tbody>

                </table>
                <div>
                  <label> <%= f.label :type_field, "Charge (MYR)" %> </label>
                  <%= f.text_field :charge, class:"form-control" %>
                </div>
                <br>
                <%if @shipment.charge?%>
                <div>
                    <%= f.submit "Post Payment Request", class:"btn btn-success btn-lg" %>
                  </div>
                  <% end %>
                  <% end %>
                  <br>
                  <div>
                    <% if @shipment.sea_freight? %>
                    <div>
                      <%= form_for(@shipment, url: sea_calculate_shipment_path(@shipment), html: { id: "calculate-form" }) do |f| %>
                      <div class="form-group">
                        <label> <%= f.label :type_field, "Sea Freight Charge (MYR)" %> </label>
                        <%= f.text_field :sea_charge, id: "type_field", class: 'form-control', type:"text", required: true %>
                      </div>
                      <%= f.submit "Calculate Sea Freight", class: "btn btn-info btn-lg", type:"submit" %>
                      <% end %>
                    </div>
                    <% else %>
                  <%= form_for(@shipment, url: calculate_shipment_path(@shipment), html: { id: "calculate-form" }) do |f| %>
                  <%= f.submit "Calculate Air Freight", class: "btn btn-info btn-lg", type:"submit" %>
                  <% end %>
                  <% end %>
                  </div>
                  <%= link_to 'Back', shipments_path, class:"btn btn-link" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-home fa-fw"></i> User's Shipping Address</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <div class="list-group">
                  <b href="#" class="list-group-item">

                    <b>Name: </b>
                    <%=@shipment.user.name %>
                    <br>
                    <b>Address: </b>
                    <%=@shipment.user.address%>
                    <br>
                    <b>Postcode:</b>
                    <%=@shipment.user.postcode%>
                    <br>
                    <b>State: </b>
                    <%=@shipment.user.address2%>
                    <br>
                    <b>Phone No.:</b>
                    <%=@shipment.user.phone%>
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
