<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-ship"></i> Shipment
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i>Search EZI ID</h3>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <%= form_tag(shipments_path, method: "get", id: "search-form") do %>
                  <div class="col-lg-6"><%= text_field_tag :search, params[:search], class: "form-control text" %></div>
                  <div class="col-lg-2"><%= submit_tag "Search", :name => nil, class:"btn btn-success btn-sm"%></div>
                  <%end%>
                  <div class="text-right">
                    <a href="<%=shipments_path%>">View All</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-3">
      <div class="dropdown pull-left">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By Status
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              <a href="/shipments">
                <i class="icon_set_1_icon-11"></i>All
              </a>
            </li>
            <li>
              <a href="/shipments?status=Processing" <%if @filter_params == "Processing" %>id="active" <% end %> >
                <i class="icon_set_1_icon-11"></i>Processing
              </a>
            </li>
            <li>
              <a href="/shipments?status=Awaiting%20Payment" <%if @filter_params == "Awaiting Payment" %>id="active" <% end %> >
                <i class="icon_set_1_icon-11"></i>Awaiting Payment
              </a>
            </li>
            <li>
              <a href="/shipments?status=Paid" <%if @filter_params == "Paid" %>id="active" <% end %> >
                <i class="icon_set_1_icon-11"></i>Paid
              </a>
            </li>
          </ul>
        </div>
        <div class="dropdown pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By Freight
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/shipments">
                  <i class="icon_set_1_icon-11"></i>All
                </a>
              </li>
              <li>
                <a href="/shipments?sea_freight=Air%20Freight" <%if @freight_params == "Air Freight" %>id="active" <% end %> >
                  <i class="icon_set_1_icon-11"></i>Air Freight
                </a>
              </li>
              <li>
                <a href="/shipments?sea_freight=Sea%20Freight" <%if @freight_params == "Sea Freight" %>id="active" <% end %> >
                  <i class="icon_set_1_icon-11"></i>Sea Freight
                </a>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-ship fa-fw"></i> My Shipments</h3>
          </div>
          <div class="panel-body">
            <div class = "shipments text-center">

              <% if @shipments.empty? %>
              <h3 class="text-center">NO SHIPMENTS AVAILABLE</h3>
            </div>
            <% else %>
            <br>
            <br>

          </div>
          <div>


            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Ship ID</th>
                  <th>Charges</th>
                  <th>Status</th>
                  <th>Freight</th>
                  <%if admin_user || staff_user %>
                  <th>User ID</th>
                  <% end%>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
                  <% x = 0 %>
                <% else %>
                  <% page = params[:page].to_i - 1 %>
                  <% x = page * 10 %>
                <% end %>
                <%@shipments.each_with_index do |shipment, index|%>
                <tr>
                  <td><%= index + x + 1 %></td>
                  <td><%= shipment.updated_at.strftime("%d-%m-%Y  (%H:%M)")%> </td>
                  <td><%= shipment.id%></td>
                  <td>
                    <%if shipment.charge.nil? %>
                    Calculating...
                    <%else%>
                    RM <%= shipment.charge%>
                    <% end%>
                  </td>
                  <td><%= shipment.status%></td>
                  <td><%if shipment.sea_freight? %>
                  Sea
                  <%else%>
                  Air
                  <% end %>
                  </td>
                  <%if admin_user || staff_user %>
                  <td><%= shipment.user.ezi_id%></td>
                  <% end%>
                  <td>
                    <span>
                      <%if shipment.bill_url.nil? %>
                      <%= link_to "", shipment_path(shipment), class:"fa fa-eye" %></span>&nbsp;&nbsp;
                      <% elsif shipment.bill_url? && shipment.status != "Paid" %>
                      <%= link_to "Pay", shipment_path(shipment) %></span>&nbsp;&nbsp;
                      <% else %>
                      <%= link_to "", shipment_path(shipment), class:"fa fa-eye" %></span>&nbsp;&nbsp;
                      <% end%>
                    <span>
                    <% if shipment.status != "Paid" && admin_user || staff_user %>
                    <%= link_to "", edit_shipment_path(shipment), class:"fa fa-pencil" %>
                  </span>&nbsp;&nbsp;
                  <span><%= link_to "", shipment_path(shipment), class:"fa fa-trash", data: { confirm: "Are you sure you want delete this shipment?"}, method: :delete %></span>&nbsp;&nbsp;
                  <% else %>
                  <span><%= link_to "", add_tracking_shipment_path(shipment), class:"fa fa-plane" %></span>
                  <% end %>
                  </td>
                  <%end%>
                  <%end%>
                </tr>
              </tbody>
            </table>
            <nav>
              <%= paginate @shipments %>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
