<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-ship"></i> Shipment
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i>Sort by Status</h3>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <%= form_tag(shipments_path, method: "get", id: "search-form") do %>
                    <%= hidden_field_tag :search0, params[:search0]%>
                  <%= submit_tag "Processing", :name => nil, class:"btn btn-info btn-sm"%>
                  <%end%>
                </td>
                <td>
                  <%= form_tag(shipments_path, method: "get", id: "search-form") do %>
                  <%= hidden_field_tag :search1, params[:search1]%>
                  <%= submit_tag "Awaiting Payment", :name => nil, class:"btn btn-info btn-sm"%>
                  <%end%>
                </td>
                <td>
                  <%= form_tag(shipments_path, method: "get", id: "search-form") do %>
                  <%= hidden_field_tag :search2, params[:search2]%>
                  <%= submit_tag "Paid", :name => nil, class:"btn btn-info btn-sm"%>
                  <%end%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i>Sort by Freight</h3>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <%= form_tag(shipments_path, method: "get", id: "search-form") do %>
                    <%= hidden_field_tag :search0, params[:search0]%>
                  <%= submit_tag "Air Freight", :name => nil, class:"btn btn-info btn-sm"%>
                  <%end%>
                </td>
                <td>
                  <%= form_tag(shipments_path, method: "get", id: "search-form") do %>
                  <%= hidden_field_tag :search1, params[:search1]%>
                  <%= submit_tag "Sea Freight", :name => nil, class:"btn btn-info btn-sm"%>
                  <%end%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-ship fa-fw"></i> My Shipments</h3>
          </div>
          <div class="panel-body">
            <div class = "shipments text-center">

              <% if @shipments.empty? %>
              <h3 class="text-center">NO SHIPMENTS AVAILABLE</h3>
            </div>
            <% else %>
            <br>
            <br>

          </div>
          <div>


            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Ship ID</th>
                  <th>Charges</th>
                  <th>Status</th>
                  <th>Freight</th>
                  <%if admin_user || staff_user %>
                  <th>User ID</th>
                  <% end%>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%@shipments.each do |shipment|%>
                <tr>
                  <td><%= shipment.updated_at.strftime("%d-%m-%Y  (%H:%M)")%> </td>
                  <td><%= shipment.id%></td>
                  <td>
                    <%if shipment.charge.nil? %>
                    Calculating...
                    <%else%>
                    RM <%= shipment.charge%>
                    <% end%>
                  </td>
                  <td><%= shipment.status%></td>
                  <td><%if shipment.sea_freight? %>
                  Sea
                  <%else%>
                  Air
                  <% end %>
                  </td>
                  <%if admin_user || staff_user %>
                  <td><%= shipment.user.ezi_id%></td>
                  <% end%>
                  <td>
                    <span>
                      <%if shipment.bill_url.nil? %>
                      <%= link_to "", shipment_path(shipment), class:"fa fa-eye" %></span>&nbsp;&nbsp;
                      <% elsif shipment.bill_url? && shipment.status != "Paid" %>
                      <%= link_to "Pay", shipment_path(shipment) %></span>&nbsp;&nbsp;
                      <% else %>
                      <%= link_to "", shipment_path(shipment), class:"fa fa-eye" %></span>&nbsp;&nbsp;
                      <% end%>
                    <span>
                    <% if shipment.status != "Paid" && admin_user || staff_user %>
                    <%= link_to "", edit_shipment_path(shipment), class:"fa fa-pencil" %>
                  </span>&nbsp;&nbsp;
                  <span><%= link_to "", shipment_path(shipment), class:"fa fa-trash", data: { confirm: "Are you sure you want delete this shipment?"}, method: :delete %></span>&nbsp;&nbsp;
                  <% else %>
                  <% end %>
                  </td>
                  <%end%>
                  <%end%>
                </tr>
              </tbody>
            </table>
            <nav>
              <%= paginate @shipments %>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
