<div class="container banner">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Shipment Summary (EZI ID: <%=@shipment.user.ezi_id%>)
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <th>Status</th>
                <td><%=@shipment.status%></td>
              </tr>
              <tr>
                <th>Type Of Freight</th>
                <td>
                  <% if @shipment.sea_freight == true%>
                  Sea
                  <%else%>
                  Air
                  <%end%>
                </td>
              </tr>
              <tr>
                <th>Type of Shipment</th>
                <td><%=@shipment.shipment_type%></td>
              </tr>
              <tr>
                <th>Selected Parcels</th>
                <td>
                  <% @shipment.ordered_parcels.each do |ordered_parcel| %>
                    <span class="icon-babu"><i class="fa fa-check-circle-o"></i></span>&nbsp;<%= ordered_parcel.parcel.awb%> <br>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>Final Weight (kg)</th>
                <td>
                  <%=@shipment.final_kg%>
                </td>
              </tr>
              <tr>
                <th>Extra Service</th>
                <td>
                  <%if @shipment.reorganize? || @shipment.repackaging? || @shipment.parcels.where(photoshoot: true).size >= 1 || @shipment.parcels.where(inspection: true).size >= 1  %>
                  <% if @shipment.reorganize == true%>Reorganize<br><%end%>
                  <% if @shipment.repackaging == true%>Repackaging<br><%end%>
                  <% if @shipment.parcels.where(photoshoot: true).size >= 1%>Photoshoot (<%=@shipment.parcels.where(photoshoot: true).size%> parcels)<br><%end%>
                  <% if @shipment.parcels.where(inspection: true).size >= 1%>Inspection (<%=@shipment.parcels.where(inspection: true).size%> parcels)<br><%end%>
                  <% else %>
                  None
                  <%end%>
                </td>
              </tr>
              <% if @shipment.remark? %>
              <tr>
                <th>Remark User</th>
                <td><%=@shipment.remark%></td>
              </tr>
              <% end %>
              <% if @shipment.remark_admin? %>
              <tr>
                <th>Remark Admin</th>
                <td><%=@shipment.remark_admin%></td>
              </tr>
              <% end %>
              <% if @shipment.tracking? %>
              <tr>
                <th>Tracking Number</th>
                <td><%=@shipment.tracking%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%if @shipment.bill_url? && @shipment.status != "Paid" %>
          <div class="button text-center">
            <%= link_to "Pay Now", @shipment.bill_url, class: "btn btn-normal btn-success" %>
          </div>
          <%elsif @shipment.status == "Paid"%>
          <div class="button text-center">
          <%= link_to "View Bill", @shipment.bill_url, class: "btn btn-normal btn-success" %>
          </div>
          <%else%>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Shipping Address
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <div class="list-group">
              <b href="#" class="list-group-item text-center">
                <%=@shipment.user.name %>
                <br>
                <%=@shipment.user.address%>
                <br>
                <%=@shipment.user.postcode%>
                <br>
                <%=@shipment.user.address2%>
                <br>
                <%=@shipment.user.phone%>
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Payment Details
        </div>
        <div class="panel-body">
          <table class="table table-striped">

            <thead>
              <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price (RM)</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><u><strong>Selected Parcels </strong></u><br><br>
                  <% @shipment.ordered_parcels.each do |ordered_parcel| %>
                    &nbsp;&nbsp;<span class="icon-babu"><i class="fa fa-check-circle-o"></i></span>&nbsp;<%= ordered_parcel.parcel.awb%><br>
                  <% end %>
                </td>
                <td>
                  <br><br>
                  <% @shipment.ordered_parcels.each do |ordered_parcel| %>
                    <%= ordered_parcel.parcel.final_kg%> KG <br>
                  <% end %>
                </td>
                <td>
                  <br><br>
                  <%= calculate_kg(@shipment) %>
                </td>
              </tr>
              <tr>
                <td><u><strong>Extra Services </strong></u><br><br>
                  <%if @shipment.reorganize? || @shipment.repackaging? || @shipment.parcels.where(photoshoot: true).size >= 1 || @shipment.parcels.where(inspection: true).size >= 1  %>
                  <% if @shipment.reorganize == true%>Reorganize<br><%end%>
                  <% if @shipment.repackaging == true%>Repackaging<br><%end%>
                  <% if @shipment.parcels.where(photoshoot: true).size >= 1%>Photoshoot<br><%end%>
                  <% if @shipment.parcels.where(inspection: true).size >= 1%>Inspection<br><%end%>
                  <% else %>
                  None
                  <%end%>
                </td>
                <td><br><br>
                  <%if @shipment.reorganize? || @shipment.repackaging? || @shipment.parcels.where(photoshoot: true).size >= 1 || @shipment.parcels.where(inspection: true).size >= 1  %>
                  <% if @shipment.reorganize == true%><%= @shipment.parcels.size %> parcels X RMB 2<br><%end%>
                  <% if @shipment.repackaging == true%>1 shipment X RMB 10<br><%end%>
                  <% if @shipment.parcels.where(photoshoot: true).size >= 1%><%=@shipment.parcels.where(photoshoot: true).size%> parcels X RMB 10<br><%end%>
                  <% if @shipment.parcels.where(inspection: true).size >= 1%><%=@shipment.parcels.where(inspection: true).size%> parcels X RMB 30<br><%end%>
                  <% else %>
                  None
                  <%end%>
                </td>
                <td><br><br>
                  <%if @shipment.reorganize? || @shipment.repackaging? || @shipment.parcels.where(photoshoot: true).size >= 1 || @shipment.parcels.where(inspection: true).size >= 1  %>
                  <% if @shipment.reorganize == true%><%=calculate_reorganize(@shipment)%><br><%end%>
                  <% if @shipment.repackaging == true%><%=calculate_repackaging(@shipment)%><br><%end%>
                  <% if @shipment.parcels.where(photoshoot: true).size >= 1%><%= calculate_photoshoot(@shipment) %><br><%end%>
                  <% if @shipment.parcels.where(inspection: true).size >= 1%><%= calculate_inspection(@shipment)%> <br><%end%>
                  <% else %>
                  0.0
                  <%end%>
                </td>
              </tr>
              <% if @shipment.extra_charge != 0 %>
              <tr>
                <td><u><strong>Additional Charges</strong></u></td>
                <td><%= @shipment.extra_remark %></td>
                <td><%= @shipment.extra_charge.to_d %></td>
              </tr>
              <% end %>
              <% if @shipment.minus_charge != 0 %>
              <tr>
                <td><u><strong>Minus Charges</strong></u></td>
                <td><%= @shipment.extra_remark %></td>
                <td>- <%= @shipment.minus_charge.to_d %></td>
              </tr>
              <% end %>
              <tr>
                <td></td>
                <td><br><strong class="pull-right">TOTAL : </strong></td>
                <td><br><%=@shipment.charge ? @shipment.charge : "Processing" %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Back', shipments_path, class:"btn btn-info btn-small" %>
        </div>
      </div>
    </div>
  </div>
