<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ezicargo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'landingmanifest', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:700%2C500%2C900" rel="stylesheet" property="stylesheet" type="text/css" media="all"> -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:500%2C400%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <% if admin_user || staff_user %>
        <%= render partial: 'partials/navbar_admin' %>
      <% elsif current_user && current_user.status == "Active" && current_user.address? %>
        <%= render partial: 'partials/navbar' %>
      <%end%>
    </div>
      <%= render partial: "partials/flash_messages" %>
      <%= yield %>
    <div id="footer">
      <%= render partial: 'partials/footer' %>
    </div>
  </body>
</html>
