<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ezicargo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <% if admin_user || staff_user %>
        <%= render partial: 'partials/sidebar-admin' %>
      <% elsif current_user && current_user.status == "Active" %>
        <%= render partial: 'partials/sidebar' %>
      <%end%>
    </div>
      <%= render partial: "partials/flash_messages" %>
      <%= yield %>
    <div id="footer">
      <%= render partial: 'partials/footer' %>
    </div>
  </body>
</html>
