<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ezicargo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'landingmanifest', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700%2C500%2C900" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <% if admin_user || staff_user %>
        <%= render partial: 'partials/sidebar-admin' %>
      <% elsif current_user && current_user.status == "Active" && current_user.address? %>
        <%= render partial: 'partials/sidebar' %>
      <%end%>
    </div>
      <%= render partial: "partials/flash_messages" %>
      <%= yield %>
    <div id="footer">
      <%= render partial: 'partials/footer' %>
    </div>


    <!-- for temporary announcement 
    <% if member_user && member_user.status == "Active" %>
    <script>
    swal({
      title: '<span style="color:#3888c1">Announcement</span>',
      html: '<p>Due to Chinese new year. You will not be able to use ezicargo system until <span style="color:#3888c1">6 Feb 2017</span> there are still some issues to be upgraded in the web system.</p><p>Thank you for your understanding.</p>',
      type: 'info',
      confirmButtonText: 'Hail Ezicargo!'
    });
    </script>
    <% end %> -->
  </body>
</html>
