<!DOCTYPE html>
<html>
<head>
  <title>Ezcargo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
  <% if current_user %>

  <%= render partial: 'partials/sidebar'%>
  <%else%>
  <%end%>
  </div>
  <%= render partial: "partials/flash_messages" %>
  <%= yield %>
  <div id="footer">
    <%= render partial: 'partials/footer' %>
  </div>
</body>
</html>
